<form role="form" action="/account/login" method="post">
  <fieldset>
    <div class="form-group form-group-lg">
      <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus>
    </div>
    <div class="form-group form-group-lg">
      <input class="form-control" placeholder="Password" name="password" type="password" value="">
    </div>
    <div class="checkbox">
      <label>
        <input name="remember" type="checkbox" value="Remember Me">Remember Me
      </label>
    </div>
    <button type="submit" class="btn btn-lg btn-success btn-block">注册</button>
  </fieldset>
</form>
