<form role="form" action="/login" method="post">
  <fieldset>
    <div class="form-group form-group-lg">
      <input class="form-control" placeholder="用户名" name="username" autofocus>
    </div>
    <div class="form-group form-group-lg">
      <input class="form-control" placeholder="密码" name="password" type="password" value="">
    </div>
    <div class="checkbox">
      <label>
        <input name="remember" type="checkbox" value="Remember Me">Remember Me
      </label>
    </div>
    <p><span class="has-error">{{message}}</span></p>
    <button type="submit" class="btn btn-lg btn-success btn-block">登录</button>
  </fieldset>
</form>
